/* Button.module.css */
.button {
	padding: 20px;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.2s;
	flex: 1;
	/* Кнопки растягиваются равномерно */
	min-width: 60px;
	/* Минимальная ширина */
}

.button-default {
	background: #f0f0f0;
	color: black;
}

.button-default:hover {
	background: #d9d9d9;
}

.button-operator {
	background: orange;
	color: white;
}

.button-operator:hover {
	background: #e69500;
}