/* src/components/game/game.module.css */
.game {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
}

.restartButton {
	background-color: #646cff;
	color: white;
	font-weight: bold;
}

.restartButton:hover {
	background-color: #535bf2;
}